<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">AuthApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="activated">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="activated">
        <a class="nav-link" [routerLink]="['precios']">Precios</a>
      </li>
      <li class="nav-item" routerLinkActive="activated">
        <a class="nav-link" [routerLink]="['protegida']" *ngIf="auth.isAuthenticated()">Protegida</a>
      </li>
    </ul>

    <span class="navbar-text">
      <button *ngIf="!auth.isAuthenticated()" type="button" class="btn btn-outline-primary btn-sm" (click)="login()">Login</button>
      <button *ngIf="auth.isAuthenticated()" type="button" class="btn btn-outline-primary btn-sm" (click)="logout()">Logout</button>
    </span>

  </div>
</nav>
